@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body {
    font-family: 'Roboto', sans-serif;
}
.calc-btn{
    color:black;
    width:25px;
    height:85px;
    background-color:silver;
    border: 1px solid grey;
    text-align:center;
    cursor: pointer;
    font-size: 32px;
    font-weight: 100;
    padding-top: 3px;
}
 .calc-btn:hover {
     background-color: blue;
 }
 .row {
     display: table;
     table-layout: fixed;
     width: 300px;
 }
 .column{
     display: table-cell;
 }
 #calc-zero{
     font-weight: bold;
    border-radius: 0, 0, 0, 7px;
    width: 52.66666667px;
 }

 #calc-clear{
     width: 52.66666667px;
 }
 #calc-display-val{
     height: 80px; 
     color: white;
     text-align: right;
     border-left: 1px solid grey;
     border-right: 1px solid grey;
     border-top: 1px solid grey;
     font-size: 40px;
     background-color: #383838;
     overflow: hidden;
     white-space: nowrap;
     padding: 12px;
     border-radius: 7px, 7px, 0, 0;
}

.calc-btn-operator{
    color:white;
    background-color: orange;
 }
h1{
    font-style: italic;
    font-family: cursive;
    text-align: center;
    margin-top:50px;
}
#calc-equals{
    border-radius: 0, 0, 7px, 0;
}
#calc-parent{
    margin-left: calc(50% - 100px);
} 
